/*CSS page for hangman game index.html*/

body {
	background-color: #fffff;
	text-decoration-color: #f8f8ff; 
}

.alignleft {
	text-align: left;
}


/*Spacing for site*/
#question2 {
	padding-top: 20px; 
	padding-bottom: 20px; 
}