/*CSS page for hangman game index.html*/

body {
	background-color: #fffff;
	color: #C0C0C0; 
	padding-left: 10px; 
}

.alignleft {
	text-align: left;
}

.well {
	background-color: #000000;
	margin-right: 30px;
}

.form { /*Is this working?*/
	padding-top: 20px; 
	padding-bottom: 10px; 
}

/*Spacing for site*/
#question2 {
	padding-top: 20px; 
	padding-bottom: 20px; 
}

