/*CSS page for hangman game index.html*/

body {
	background-color: #fffff;
	text-decoration-color: #C0C0C0; 
	padding-left: 10px; 
}

.alignleft {
	text-align: left;
}


/*Spacing for site*/
#question2 {
	padding-top: 20px; 
	padding-bottom: 20px; 
}


.wellwell-large {
	background-color: #ffffff;
}

